.gallery {
    background: rgb(78, 76, 76);
    margin:auto;
    padding: 2rem;
    width:100%;
    height:90vh;
}

/* .gallery .album-container {
    height:90vh;
} */

h2 {
    color:white;
    text-align: center;
}

.line{
    background-color: white;
}

@media screen and (max-width: 940px) {
    .gallery .container {
        grid-template-columns: 1fr;

    }

    .gallery .container {
        width: 100%;
    }

    .gallery .container img {
        padding: 1rem;
        width: 90vw;      
    }

    .gallery .container .col-2 {
        padding: 0;
    }

    .gallery button {
        margin-bottom: 1rem;
    }


}